/* font-family: 'Barlow Condensed', sans-serif; */

body {
    background: #191919;
}


.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #00FF97;
    font-size: 300px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 10px;
}

.week  {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    color: #4B4B4B;
}

.week ul  {
    list-style: none;
}

.week  ul li  {
    display: inline-block;
    padding: 19px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
    transform: scaleY(1.25);
}