/* font-family: 'Barlow Condensed', sans-serif; */

body {
    background: #191919;
    text-align: center;
}

.week  {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    color: #4B4B4B;
}

.week ul  {
    list-style: none;
}

.week  ul li  {
    display: inline-block;
    margin: 0 20px 20px 20px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    transform: scaleY(1.25);
    
}

.highlight  {
    color: #00FF97;
}

.clock {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #00FF97;
    font-size: 5rem;
    letter-spacing: 10px;
    font-family: 'Orbitron', sans-serif;
}

.toggle  {
    font-family: 'Barlow Condensed', sans-serif;
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);

}

.toggle ul  {
    list-style: none;
}

.toggle ul li   {
    display: inline-block;
    font-size: 1.5rem;
}

.toggle ul li a  {
    text-decoration: none;
    padding: 20px;
    color: #4B4B4B;
    transition: color .75s ease;
}

.toggle ul li a:hover  {
    color: whitesmoke;
}

.toggle .current  {
    color: #00FF97;
}
